
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
body {
  background: #105469;
  font-family: 'Open Sans', sans-serif;
} */

.logoStyle{
    width: 150px;
    height: 75px;
}

table {
  background: #f4eeff;
  border-collapse: collapse;
  margin: 1em;
  border-radius: 15px;
}

table:hover{
  border-radius: 15px;
}

th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: black;
  font-weight: 400;
  padding: 0.65em 1em;

}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
  border: 2px solid white;
}
tbody tr:hover {
  background: #d1cebd;
}

/* buttons */

h1 {
color: #f1c40f;
font-size: 4rem;
text-transform: uppercase;
display: block;
width: 100%;
text-align: center;
}

@media screen and (max-width: 600px) {
h1 {
    font-size: 3rem;
}
}

p {
color: #f1c40f;
font-size: 1.2rem;
width: 100%;
padding: 20px;
text-align: center;
}

.btn {
box-sizing: border-box;
appearance: none;
background-color: transparent;
border: 2px solid #e74c3c;
border-radius: 0.6em;
/* color: #e74c3c; */
cursor: pointer;
display: flex;
align-self: center;
font-size: 1rem;
line-height: 1;
margin: 20px;
padding: 1.2em 2.8em;
text-decoration: none;
text-align: center;
text-transform: uppercase;
font-family: "Montserrat", sans-serif;
font-weight: 700;
}
.btn:hover, .btn:focus {
color: #fff;
outline: 0;
}

.btnSpecial {
  border-color: #f57b51;
  color: #fff;
  background-image: linear-gradient(45deg, #d63447 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 500ms ease-in-out;
  background-color: #f57b51;
}

.btnSpecial:hover {
background-position: 0;
border-color: #d63447;

}
